<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark navbar-gradient mb-4" data-bs-theme="dark">
        <div class="container">
            <a class="navbar-brand fw-bold" th:href="@{/}">
                <i class="fas fa-clipboard-check me-2"></i>CHECKTRANS
            </a>
            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">
                            <i class="fas fa-home me-1"></i>Inicio
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/templates}">
                            <i class="fas fa-clipboard-list me-1"></i>Plantillas
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/checklists}">
                            <i class="fas fa-list me-1"></i>Listas
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/checklists/new}">
                            <i class="fas fa-plus me-1"></i>Nueva
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/demo-ui}">
                            <i class="fas fa-palette me-1"></i>UI
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>
